:root {
  --shadow-color: #ff9e9e;
  --shadow-color-light: white;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f3f3f3;
}
footer {
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  height: 50px;
  width: 100%;
  margin-top: 5px;
  margin: auto;
  border-top: #141414 5px solid;
  text-align: center;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
#navbar ul {
  display: flex;
  padding: 0;
}
#navbar li,
a {
  color: black;
  font-size: large;
  padding: 5px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

#navbar a:visited {
  text-decoration: none;
}

#navbar li:hover {
  border-bottom: orangered 3px inset;
  margin-bottom: -3px;
}
#welcome-section {
  background-color: #ff7700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c50101' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23850707' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c6022d' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23920824' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c40f54' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23891640' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ad0763' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23962663' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23bd2197' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2389216e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a900a9' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%237f1b7f' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #141414;
  margin-top: 50px;
  margin-bottom: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectsOnly {
  display: grid;
  justify-content: center;
  height: 150vh;
  background-image: url("background_projects.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  row-gap: 5px;
  column-gap: 5px;
}
#titulo-projects {
  height: 200px;
  background-color: #192824;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}
#titulo-projects i {
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: white;
  animation: neon 3s infinite;
}

#welcome-section h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Lato", sans-serif;
}
#socialPages {
  background-color: rgba(139, 0, 0, 0.5);
  width: 50%;
  margin: 0;
  padding: 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  font-size: 2.3rem;
}
#socialPages:hover {
  background-color: rgba(139, 0, 0);
  cursor: pointer;
}
#socialPages p,
#socialPages i {
  color: #f3f3f3;
  margin: 0;
  font-size: 2.3rem;
  text-align: center;
}
#socialPages a {
  text-decoration: none;
  display: inline;
  color: #f3f3f3;
}
.project-tile {
  width: 400px;
  height: 200px;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #1414147c;
  justify-self: center;
}
.project-tile:hover {
  border-radius: 15px;
  background-color: #141414d0;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
      0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color),
      0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}
@media (max-width: 650px) {
  #welcome-section h1 {
    font-size: 2.5em;
  }
  #welcome-section p,
  i {
    font-size: 0.8em;
  }
  #projectsOnly {
    display: grid;
    height: 150vh;
    justify-content: center;
    align-items: center;
    grid-template-columns: 80%;
    grid-template-rows: 25%;
  }
  .project-tile {
    width: 90%;
  }
}
